body
{
	margin: auto;
	background-color:rgb(195,195,195);
}
.header
{
	background-color: rgb(187,184,68);
	width: 80%;
	height: 130px;
	margin: auto;
	border-radius: 5px;
    margin-top:  80px;
}
.header h1
{
	margin-top:30px;
	margin-left: 65px;
	padding-top: 30px;
	color: Green;
	text-align:center;
}
.file
{
width:80%;
height:150px;
border-radius:5px;
margin: auto;
background-color:rgb(187,184,68);
position:relative;
top:10px;
text-align:center;
}
.file label
{
font-size:1.5em;
position:relative;
top:45px;
left:20px;
}
.file select
{
position:relative;
top:45px;
left:30px;
width:130px;

}
.file .form label
{
position:relative;
top:45px;
left:20px;
}
.file .form input
{
position:relative;
top:45px;
left:90px;
width:180px;
}
.box
{
	background-color: rgb(195,195,195);
	width: 80%;
	height: 300px;
	border-radius: 5px;
	margin: auto;
	top: 40px;
	position: relative;
}
.box table
{
	list-style: none;
	display: inline;
	margin: 8em;
	font-size: 1.5em;
	font-weight: bold;
	position:relative;
	bottom:180px;
}
.box table th
{
background-color:rgb(255,255,0);
}
.box table td
{
background-color:white;
text-align:center;
}
.copyrights
{
	width: 80%;
	position: relative;
	margin: auto;
}
.copyrights ul
{
	text-align:center;
	font-size: 1.0em;
	font-family: cursive;
}
